<% content_for(:html_title) { "Films" } %>

<h2 class="title is-2">Star Wars Films</h2>

<h4>Search by Film:</h4>
  <%= form_tag(films_path, method: :get) do %>
    <%= text_field_tag(:search, params[:search]) %>
    <%= submit_tag("Search") %>
  <% end %>

<ol class="ml-5">
  <% @films.each do | film | %>
    <li><%= link_to film.title, film %> (<%= film.release_date %>)</li>
  <% end %>
</ol>
