<% content_for(:html_title) { @character.name} %>

<h2 class="title is-2"><%= @character.name %></h2>

<p>
  <strong>Birth Year: </strong>
  <%= @character.birth_year %>
</p>
<p>
  <strong>Gender: </strong>
  <%= @character.gender %>
</p>
<p>
  <strong>Hair Color: </strong>
  <%= @character.hair_color %>
</p>
<p>
  <strong>Height: </strong>
  <%= @character.height %> cm
</p>
<p>
  <strong>Quote: </strong>
  "<%= @character.quote %>"
</p>

<h3 class="title is-3 mb-2 mt-5">Species: <h3>
<ul>
  <%# <strong>Species: </strong> %>
  <% @character.species.each do |specy|%>
    <li class="ml-5">
      <%= link_to specy.name, specy %>
    </li>
  <% end %>
</ul>

<h3 class="title is-3 mb-2 mt-5">Films: </h3>
<ul>
  <% @character.films.each do |film|%>
    <li class="ml-5">
      <%= link_to film.title, film %>
    </li>
  <% end %>
</ul>